.ingredients {
    display: flex;
    padding: 5px;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    
    
}


.ingredient-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 50vh;
    align-items: stretch; 
    max-width: 200px;

} 

.list-group-item  {
/* margin-top: auto; */
    grid-template-columns: repeat(3, 1fr);
    /* box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);   */
}



