.ingredient-item{
    justify-content: center;
    background-color:white;
    max-width: 800px;
    margin: auto;
}

.ingredient-item img{
    justify-content: center;
    max-width: 800px;
    margin: auto;
}
.ingredient-img {
    justify-content: center;

}

img {
    justify-content: center;
}
.ing-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.ingredient-links {
    justify-content: center;
    align-items: center;
    background-color: beige;
}

