.main-div-ingredients{
    /* background-color:rgba(245, 184, 199, 0.644); */


    
}
.header h1 {
    margin:auto;
    line-height:51px;
    vertical-align:middle;
    padding: 20px ;
    text-align: center;
}

.header {
    margin:auto;
    line-height:51px;
    vertical-align:middle;

}
.header-search {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;

}



.ingredients {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    align-items: stretch; 
}