.nav-item-signup {
  float: right;
}

.nav-item-login {
  float: right;
}


/* .App-main-div {
  background-image: url('https://cdn.shopify.com/s/files/1/0787/5983/files/shutterstock_346579583_1024x1024.jpg?');
} */